{% extends 'base.html' %}

{% block content %}
<div class="h-100 text-center d-flex p-3 bg-light">
    <div class="m-auto">
        <h1 class="title mb-5 font-weight-bold">Образовательный портал</h1>
        
        <div class="container">
            <p class="description w-75 mb-5 px-3 mx-auto">
                Мы создаем и продвигаем технологии онлайн-образования как эффективный 
                образовательный инструмент, который будет способствовать повышению 
                доступности и качества образования.
            </p>

            <div class="my-5 p-4 bg-dark rounded">
                <form action="{{ url_for('courses.index') }}" class="row g-3 align-items-stretch justify-content-center">
                    <div class="col-md-6 d-flex">
                        <div class="form-floating flex-grow-1">
                            <input autocomplete="off" type="text" class="form-control h-100" id="course-name" name="name" placeholder="Название курса">
                            <label for="course-name">Название курса</label>
                        </div>
                    </div>
                    
                    <div class="col-md-4 d-flex">
                        <div class="form-floating flex-grow-1">
                            <select class="form-select h-100" id="course-category" name="category_ids" title="Категория курса">
                                <option value="">Выберите категорию</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="course-category">Категория курса</label>
                        </div>
                    </div>
                    
                    <div class="col-md-2 d-flex">
                        <button type="submit" class="btn btn-outline-light w-100">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}